@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    padding: 0;
    margin: 0;
}
:root{
    --fonte: 'Roboto Slab';
    --cor01: red;
    --cor02: black;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 0 10px;
}
header > h1:first-child{
    font-family: var(--fonte);
    font-size: 3em;
    color: var(--cor01);
}
span{
    color: var(--cor02);
}
#nav{
    font-family: var(--fonte);
    display: flex;
    
}
#nav > ul{
    gap: 10px;
    display: flex;
    list-style-type: none;
}
.container{
    font-family: var(--fonte);
    display:flex;
    justify-content: center; 
    align-items: flex-start;
    align-items: center;
}
.container > div > h1{
    margin-left: 40px;
    font-size: 3em;
    color: var(--cor01);
}
.container > div > p{
    margin-left: 40px;
}
.container > div > button{
    margin-left: 40px;
}
.container .bg-container{
    background-image: url("../assets/video_call.png") center no-repeat;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#lista_perl{
    font-family: var(--fonte);
    font-size: 1.4em;
    margin-top: 91px;
}